h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif !important;
}

.reveal section img {
    border: none;
}

.gauge {
    border: none;
    box-shadow: none !important;
    width: 300px;
}

.with-background-image {
    background-color: rgba(253, 246, 227, 0.7) !important;
    width: 100%;
}

#lets-kick-open-doors, #shifting-left {
    top: 450px !important;
}

h1 {
    font-size: 2em !important;
    margin: 0 !important;
}

h2 {
    font-size: 1.7em !important;
}

h3 {
    font-size: 1.4em !important;
}

h3 {
    font-size: 1.2em !important;
}
